$accentColor: #2196f3;
$bgColor: #2f303a;
$labelColor: #2200ff;
$iconColor: #afb1b8;
$color: #ffffff;
$subAccentColor: #188ce8;
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
