.header {
  background-color: $accentColor;
  position: sticky;
  top: 0;
  &__container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &__nav-list,
  &__specialists-list,
  &__logo-wrapper {
    display: flex;
    gap: 10px;
  }
  &__nav-list--mobile{
    flex-direction: column;
  }
}
