.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  background-image: url('../img/Trudnoshchi.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $labelColor;
    &__container {
      text-align: center;
  }
}
