.specialists{
  .specialist {
    @include big-mobile {
      display: flex;
    }
    
    flex-direction: row-reverse;
    &__avatar {
      width: 300px;
      height: auto;
    }
  }
  .specialist:nth-child(2n){
    flex-direction: row;
  }
}

